@CHARSET "UTF-8";

button {
	margin: 5px;
}

.resizable {
	float: left; /* trigger shrinkwrap */
	padding: 10px;
}

.clearfloat {
	clear: both;
	height: 0;
	font-size: 1px;
	line-height: 0px;
}

#renderProgress {
	height: 1em;
}
