@CHARSET "UTF-8";

button {
	margin: 5px;
}

.resizable {
	float: left; /* trigger shrinkwrap */
	padding: 10px;
}

.clearfloat {
	clear: both;
	height: 0;
	font-size: 1px;
	line-height: 0px;
}

#renderProgress {
	height: 1em;
}

#renderProgressText {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 99;
	text-align: center;
}

#pixelsPerSecondWrapper {
	float: left;
	position: relative;
	min-width: 10ex;
	margin-right: 0.5ex;
}

#pixelsPerSecond {
	float: right;
}
